nav {
  background-color: #7c8c8e !important;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7c8c8e;
}

a {
  color: #05c2d1;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  color: #3c4040;
}

.submission-box{
  height: 200px;
}

.tag-badges {
  margin: 0px;
  float: left !important;
  background-color: #05c2d1;
  border-radius: 2px;
  color: #fff !important;
}

/* Notification Styles */

.notification-button {
  color: #fff !important; 
  background: rgba(0,0,0,0) !important;
}

.notification-alert {
  float: right;
}

.fade-in {
  opacity: 0 !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

