<div class="container">
  <div class="row">
    <div class="col 4">
      <h3>Feedback</h3>
    </div>
    <div class="col 4">
      <h3 id="in-progress">Exercises in Progress</h3>
    </div>
    <div class="col 4">
      <h3 id="completed"> Completed Exercises</h3>
    </div>
  </div>
</div>
