<div class="container">
  <h3>Dashboard</h3>
  <div class="row">
    <div class="col s4">
      <h5>Feedback</h5>
    </div>
    <div class="col s4">
      <h5 id="in-progress">Exercises in Progress</h5>
    </div>
    <div class="col s4">
      <h5 id="completed"> Completed Exercises</h5>
    </div>
  </div>
</div>
