<body class="root-page">
  <div class="turing-logo">
    <%= link_to image_tag("turing_logo.png"), "https://www.turing.io", target: "_blank", alt: "Turing School Logo", class: "turing-logo" %>
  </div>
</body>