nav {
  background-color: #67809F !important;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7c8c8e;
}

a {
  color: #05c2d1;
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  text-decoration: none;
  color: #22A7F0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  color: #3c4040;
}

.active {
  background-color: #05c2d1;
  color: #fff;
}

.submission-box{
  height: 200px;
}

.tag-badges {
  margin: 0px;
  float: left !important;
  background-color: #05c2d1;
  border-radius: 2px;
  color: #fff !important;
}

/* Notification Styles */

.notification-button {
  color: #fff !important;
  background: rgba(255,0,0,0) !important;
}

.dropdown-custom {
  margin-top: 20px;
}

.dropdown-button {
  background-color: #1C2833 !important;
}

.navbar-button {
  background-color: #1C2833 !important;
}

.brand-logo {
  margin-left: 15px;
  font-weight: bold;
}

.alert {
  text-align: center;
  margin-top: 10px;
 }

 .waves-effect.waves-light.btn{
   background-color: #67809F;
 }

 .waves-effect.waves-light.btn:hover{
   color: #fff;
   background-color: #1C2833;
 }

/* Homepage Image */

.root-page {
  background-image: url(https://source.unsplash.com/ttbCwN_mWic/);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  background-color: transparent;
}

.shield {
  padding-top: 18%;
  width: 250px;
  margin: auto;
}

#shield {
  width: 100%;
}
