<div class="container">
  <h2>Ruby Exercises</h2>
  <% @ruby_exercises.each do |exercise| %>
  <h4><%= link_to exercise.name, exercise_path(exercise)%></h4>
  <p><%= exercise.description %></p>
  <p><% exercise.tags.each do |tag| %>
      <span class="badge tag-badges"><%= tag.name %></span>
    <% end %></p></br>
  <% end %>
</div>
