<button type='button' class='ruby-button'>Ruby</button>
<button type='button' class='js-button'>JavaScript</button>
<button type='button' class='all-button'>All</button>

<div id="exercises">
  <div id='ruby_exercises' style="display: none">
    <%= render partial: 'ruby_exercises' %>
  </div>
  <div id='js_exercises' style="display: none">
    <%= render partial: 'js_exercises' %>
  </div>

  <div id="all-exercises" class="container" style="display: show">
    <%= render partial: 'all_exercises' %>
  </div>

</div>
